{{ define "main" }}

<div class="home">
 
  <div class="row">
    <div class="col-md-8">
  <p>{{ .Site.Params.description }}</p>
    <p>Filter by tag:
    {{ range $i, $e := first 10 .Site.Taxonomies.tags.ByCount }}
      {{ if $i }} • {{ end }}<a href="{{ $e.Page.Permalink }}">{{ $e.Page.Title }}</a>
    {{ end }}
    </p>
    </div>
    <div class="col-md-4">
      <form id="search" method="GET" action="{{ "search" | absURL }}">
        <input id="search-query" name="q" type="search" aria-label="Search" placeholder="Search" aria-placeholder="Search">
        <button>
          <svg viewbox="0 0 24 24">
            <path
              d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
              <path d="M0 0h24v24H0z" fill="none">
          </svg>
        </button>
      </form>
    </div>
  </div>

    <div class="row pack">

        {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}
        {{ range $paginator.Pages }}   
            <div class="col-md-4 card">
             <a href="{{ .Permalink }}" class="index-anchor">    
                <div class="panel panel-default">
                  
                  <div style="text-align: center;">
                    {{ if .Params.img }}
                    <img width="95%" style="height: 140px; object-fit: scale-down;" src="{{ .Site.BaseURL }}images/{{ .Params.img }}" alt="{{ .Title }}">
                    {{ else }}
                    <img width="95%" style="height: 140px; object-fit: scale-down;" src="{{ .Site.BaseURL }}images/{{ .Site.Params.defaultImage }}">
                    {{ end }}
                  </div>
                  
                  <div class="panel-body">
                    <h3 class="panel-title pull-left">{{ .Title | truncate 21 }}</h3><span class="post-meta pull-right"><small>{{ range first 1 .Params.tags }}{{ . }}{{ end }}</small></span>
                  </div>
                  
                  <div class="panel-body"><small>
                    {{ .Summary | plainify | truncate 130 }}</small>
                  </div>
                </div>
                </a>
            </div>
        
          {{ end }}

    </div> 
    
<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">
        {{ if gt .Paginator.TotalPages 1 }}
        <ul class="pagination">
          {{ if .Paginator.HasPrev }}
            <li><a href="{{ .Paginator.Prev.URL }}">&laquo; Prev</a></li>
          {{ else }}
            <li><span>&laquo; Prev</span></li>
          {{ end }}

          {{ $scratch := newScratch }}
          {{ $scratch.Set "current" .Paginator.PageNumber }} 

          {{ range .Paginator.Pagers }}
            {{ if eq .PageNumber ($scratch.Get "current") }}
              <li class="active"><span><em>{{ .PageNumber }}</em></span></li>
            {{ else }}
            <li><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
            {{ end }}
          {{ end }}

          {{ if .Paginator.HasNext }}
            <li><a href="{{ .Paginator.Next.URL }}">Next &raquo;</a></li>
          {{ else }}
            <li><span >Next &raquo;</span></li>
          {{ end }}
          </ul>
        {{ end }}

    </div>
    <div class="col-md-4">  </div>
</div>
</div>

{{ end }}
