{{ define "main" }}
<div class="row">
<div class="col-md-8">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header">
            <h1 class="post-title" itemprop="name headline"><a href="{{ .Params.uri }}">{{ .Title }}</a></h1>
            <p class="post-meta">{{ range $i, $e := .Params.tags }}{{ if $i }} • {{ end }}<a href="{{ "/tags/" | relLangURL }}{{ $e | urlize }}">{{ $e }}</a>{{ end }}</p>
                
          </header>

          <div class="post-content" itemprop="articleBody">
            {{ .Content }}
          </div>

    </article>
    <div class="row">
        {{ if .Site.Params.disqus }}
         {{ partial "disqus.html" . }}
        {{ end }}
    </div>
</div>


{{ partial "sidebar.html" . }}

</div>


{{ partial "fb-script.html" . }}
{{ end }}
