<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="{{ "js/search.js" | absURL }}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

<style>
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

form#search * {
  font-family: sans-serif;
}

form#search {
  align-items: center;
  display: flex;
  width: 100%;
}

form#search label {
  display: none;
  font-weight: 500;
  margin: 0 10px 0 0;
}

form#search input {
  flex: 1;
  font-size: 16px;
  font-weight: 200;
  height: 33px;
  margin: 0;
  min-width: 90px;
  padding: 5px;
  -webkit-appearance: textfield;
  border-radius: 4px;
  border: solid #eeeeee;
  border-width: 1px 0 1px 1px;
}

form#search button {
  border: none;
  cursor: pointer;
  height: 33px;
  padding: 0;
}

form#search svg {
  background-color: #4582ec;
  border-radius: 0 2px 2px 0;
  fill: white;
  height: 33px;
  min-width: 24px;
  padding: 0 7px;
  width: 24px;
}
</style>